body{
	behavior:url("../css/csshover.htc");
}

#wrapper #main #left #forum_intro{
	float:left;
	width: 674px;
	margin-top: 20px;
	margin-left: 53px;
	font-size: 12px;
}

#wrapper #main #left #community_content{
	float:left;
	width: 674px;
	margin-top: 2px;
	margin-left: 53px;
	font-size: 12px;
	border: 1px solid #666;
}

#wrapper #main #left #new_topic_form{
	display:none;
	width: 608px;
	margin-top: 24px;
	margin-bottom: 40px;
	margin-left: 53px;
}

#wrapper #main #left .new_topic,#wrapper #main #left .all_topic{
	float: left;
	text-align: right;
	width: 668px;
	margin-left: 53px;
	padding: 8px;
}

#wrapper #main #left #new_topic_link,#wrapper #main #left #all_topic{
	float: right;
	border: 1px solid #000;
	padding: 3px 5px 3px 5px;
	font-size: 11px;
	margin: 6px 0px 0px 0px;
}

#wrapper #main #left #new_topic_link:hover,#wrapper #main #left #all_topic:hover{
	float: right;
	border: 1px solid #000;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
	font-size: 11px;
	color: #fff;
	background: #666;
	margin: 6px 0px 0px 0px;
}


#wrapper #main #left #community_content_table_header{
	background-color: #222;
	color: #fff;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;	
}

#wrapper #main #left .community_content_table_odd{	
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
}

#wrapper #main #left .community_content_table_even{	
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;	
}

#wrapper #main #left .community_content_table_odd:hover{
	background-color: #666; 
	color:#fff;
	cursor: pointer;
}

#wrapper #main #left .community_content_table_even:hover{
	background-color: #666;
	color:#fff;	
	cursor: pointer;
}

#wrapper #main #left .community_content_table_post_odd{
	display:none;
	background-color: #eee;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px;
	padding-left: 4px;
}

#wrapper #main #left .community_content_table_post_even{
	display:none;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;	
	background-color: #eee;
	padding: 2px;
	padding-left: 4px;
}

#wrapper #main #left .community_content_table_post_content{	
}


#wrapper #main #left .community_content_table_reply{
	margin: 12px 24px 12px 24px;
	padding: 4px;
	padding-bottom:2px;
}

#wrapper #main #left .community_content_table_reply_beader{
	border: 1px solid #000;
	margin-top:24px;
	padding: 2px;
}

#wrapper #main #left .community_content_table_reply_content{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	color: #777;	
	background-color: #FFF;
	padding: 2px;
}

#wrapper #main #left .community_content_table_reply_hint{	
	text-decoration:none;
}

#wrapper #main #left .community_content_table_reply_hint:hover{	
	cursor: pointer;
}

#wrapper #main #left #showCommentLink,#wrapper #main #left #hideTopicLink{	
	color: navy;
}

#wrapper #main #left #showCommentLink:hover,#wrapper #main #left #hideTopicLink:hover{	
	color: #666;
}

#wrapper #main #left #showCommentLink	{	
	margin-right:420px;
}
	

#wrapper #main #left .community_content_table_reply_hint_group{
	width: 608px;
	margin: 0px auto;
	margin-top: 34px;
	margin-bottom: 38px;
	border-bottom: 1px solid #777;	
}

#wrapper #main #left .community_content_table_post_date{
	text-align: right;
	color: #777;
	font-size: 10px;
}

#wrapper #main #left .community_content_table_reply_new{	
	display: none;
	margin-top: 24px;
}
#wrapper #main #left .community_content_table_reply_new_beader{
	/*
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	*/
	margin-top:24px;
	padding: 2px;
}

#wrapper #main #left .textareaErrorBox, #wrapper #main #left #topicErrorBox{
	margin-left: 4px;
	color: red;
}

#wrapper #main #left .no{
	display: none;
	float: left;	
	width: 36px;
}

#wrapper #main #left .title{
	float: left;
	width: 402px;
}

#wrapper #main #left .author{
	float: left;
	width: 92px;
}

#wrapper #main #left .reply , #wrapper #main #left .replycontent{
	float: left;
	width: 62px;
	text-align: center;
}
#wrapper #main #left .replycontent{
	color: #8F0A0A;
}

#wrapper #main #left .update{
	width: 122px;
}
