.intro:hover{
border-style: inset;
cursor: pointer;
color:#CD3333;
}
.intro{
position:absolute;
right: 0px;
top:28px;
border:1px solid #808080;
padding:2px;
padding-left:4px;
padding-right:4px;
font-family: verdana;
z-index:100;
color:#808080;
font-size:9px;
}
.list{
position:relative;
}
.hider{
display:none;
}