body,table,select,input{
	font-size:10pt;
	font-family:²Ó©úÅé;
}
A:link {color:orange;text-decoration:underline}
A:visited {color:orange;text-decoration:underline}
A:hover {color:orange;text-decoration:none}