* {
	margin: 0;
	padding: 0;
}

body {
background: #D0D0D0;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 17px;
color: #333;
}

a {
text-decoration: none;
color: #004990;
}
a:hover {
text-decoration: underline;
color: #111;
}

#wrap {
margin: 0 auto;
width: 780px;
background: #fff;
}

#header {
height: 90px;
}
#header h1 { 
font-size: 28px;
letter-spacing: -1px;
padding: 23px 0 0 17px;
color: #aaa;
}
#header h1 a { 
color: #aaa;
text-decoration: none;
font-weight: 100;
letter-spacing: -2px;
}
#header h1 a:hover {
color: #111;
}
#header h2 {
font-size: 19px;
color: #111;
padding: 5px 0 0 20px;
letter-spacing: -1px;
font-weight: 100;
}

#menu {
height: 30px;
line-height: 30px;
border-top: 1px dotted #555;
border-bottom: 1px dotted #555;
}
#menu ul,#menu ol {
list-style-type: none;
padding-left: 20px;
}
#menu ul li,#menu ol li {
display: block;
float: left;
}
#menu ul li a,#menu ol li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 100;
font-size: 14px;
color: #004990;
}
#menu ul li a:hover,#menu ol li a:hover {
color: #004990;
text-decoration: none;
font-weight: 600;
}

#content {
padding: 0 20px 20px 20px;
}

.right {
float: right;
width: 520px;
text-align: justify;
}
.right h2 {
font-size: 17px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
color: #004990;
}
.right h2 a:hover {
color: #111;
}

.left {
float: left;
width: 200px;
margin-top: 10px;
background: #004990;
}
.left h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 28px;
line-height: 28px;
color: #fff;
font-size: 13px;
background: #788BBD;
}
.left ul,.left ol {
padding: 10px 0 15px 20px;
list-style-type: square;
color: #788BBD;
}
.left ul li a,.left ol li a {
color: #fff;
text-decoration: none;
font-size: 13px;
font-weight: 100;
}
.left ul li a:hover,.left ol li a:hover {
color: #fff;
text-decoration: underline;
}

#footer {
height: 30px;
line-height: 30px;
background: #657983;
text-align: center;
font-size: 11px;
color: #fff;
}
#footer a { color: #fff; }

.fontzh{
font-family: "dfkai-sb", "標楷體", "simhei", "simsun", "細明體";
}

h3, h4{
margin: 1em 0;
}
.right ol li,.right ul li{
margin:1em 0 0 3em;
}
.right p{
margin: 1em 0;
}
.right div ol li,.right div ul li{
margin:0 0 0 2em;
}
td{
padding-left:0.2em;
}