body,table,select,input{
	font-size:10pt;
	font-family:細明體;
}
h3{
	font-size:14pt;
	font-family:標楷體;
}
A:link {color:black;text-decoration:underline}
A:visited {color:black;text-decoration:underline}
A:hover {color:black;text-decoration:none}